

  .topbar-main {
    width: 100%;
    /* height: fit-content; */

    background-color: rgba(255, 255, 255, 0.87);
    display: flex;
    position: sticky;
    background: whitesmoke;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
  }
  
  .linkedin-logo {
    

    width: 46px;
    margin-left: 40px;
    border-radius: none;
    margin-right: -25px;
    height: 40px;
    margin-top: 7px;
    margin-bottom: 5px;
  }
  
  .react-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:30%;
    margin-left: 350px;

  }
  .react-search{
   display: flex;
   flex-direction: row;
   
    align-items: center;
    border-radius: 5px;
    height: 20px;
   
    padding: 5px;
    color: gray;
    background-color:hsl(207, 35%, 81%);
    margin-top: 15px;
    margin-left: 50px;
  }
  .react-search > input{
    outline: none;
    border: none;
    width: 300px;
    border-radius: 100px;
    background-color: hsl(207, 35%, 81%);
    
  }

  .icon-container{
    display: flex;
    flex-direction: column;
  }
  .react-icon {
    color: #787878;
    cursor: pointer;
  }
  
  .react-icon:hover {
    color: black;
  }
  .container{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .user-logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
   
    cursor: pointer;
    margin-left: -15px;
     margin-top:8px ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    
  }
  
  .popup-position {
    position: absolute;
    right: 10px;
    top: 65px;
    z-index: 99;
  }
  
  .search-results {
    position: absolute;
    left: 100px;
    top: 60px;
    width: 240px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #bbbbbb;
  }
  
  .search-results .search-inner {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .search-results .search-inner img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .search-results .search-inner .name {
    font-family: system-ui;
    font-size: 18px;
  }
  
  .search-results .search-inner:hover {
    background-color: #bbbbbb;
  }

  .icon-name{
font-size: 12px;
  }

  .icon-name-notification{
    font-size: 12px;
    margin-left: -15px;
    }
    .me{
      margin: 40px -5px 5px -3px ;
      font-size: 10px;
    }


 
  
  @media (max-width: 500px) {
    
  .topbar-main{

    width: auto;
    background: fixed;
  }
   
   .react-icons  {
      display:flex;
      position:fixed;
      left: 0;
      bottom: 0;
      background: whitesmoke;
    
      margin-left: auto;

    }  
    .react-search{
      width: 200px;
    }
    .popup-position {
      position: absolute;
      right: 0px;
      top: 480px;

      z-index: 99;
    }
  }
  
  @media (max-width: 600px) {
    .topbar-main{
   
      background: fixed;
      background-color: whitesmoke;
    }
    .react-icons  {
      display:flex;
      position:fixed;
      left: 0;
      bottom: 0;
      background: whitesmoke;
      width: 100%;
      margin-left: auto;

    } 
    .popup-position {
      position: absolute;
      right: 0px;
      top: 300px;
 
      z-index: 99;
    }
   
  }
  
  @media (max-width: 800px) {
    
    .react-icons  {
      display:flex;
      position:fixed;
      left: 0;
      bottom: 0;
      background: whitesmoke;
      width: 100%;
     
      margin-left: auto;

    } 
    .popup-position {
      position: absolute;
      right: 0px;
      top: 300px;

      z-index: 99;
    }
  }
  

  @media (max-width: 1000px) {
    
    .react-icons  {
      
     
      margin-left: auto;

    } 
    .icon-name{
      display: none;
    }
    .icon-name-notification{
      display: none;
    }
    .me{
      display: none;
    }
    .user-logo{
      margin-top: -19px;
    }
   
  }
  