.modal-input {
    border: none !important;
    background-color: white;
    outline: none;
    color: black;
    font-size: 16px;
    font-family: system-ui;
    width: 100%;
    resize: none;
    height: 300px;
  }
  .modal-createpost{
  background-color: white;
    height: 578px;
    position: fixed;
    width: 600px;
    left: 400px;
    top: 20px;
  }
  .modalin{
    border: none !important;
    background-color: white;
    outline: none;
    color: black;
    font-size: 16px;
    font-family: system-ui;
    width: 100%;
    resize: none;
    height: 30px;
  }
  
  .ql-container.ql-snow,
  .ql-toolbar.ql-snow {
    border: none !important;
  }
  
  .ql-container.ql-snow {
    font-size: 20px;
    font-family: system-ui;
  }
  
  .picture-icon {
   
    margin-right: 10px;
  }
  
  .preview-image {
    width: 100%;
    margin-top: 20px;
  }
  
  .posts-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .post-btn{
    left: 300px;
    bottom: 10px;
  
  }
  @media (max-width: 950px){
    .modal-createpost{
      left: 150px;
    }
  }

  @media (max-width:650px){
    .post-btn{
      left: 250px;
    }
    .modal-createpost{
      left: 10px;
      width: 100px;
    }
  }
  
  @media (max-width:450px){
    .post-btn{
      left: 250px;
    }
    .modal-createpost{
      left: 10px;
      width: 100px;
    }
  }