/* .modal-input {
    border: none !important;

   outline: none; 
    color: black;
    font-size: 16px;
    font-family: system-ui;
    width: 100%;
    resize: none;
    height: 300px;
  }
  .modal-createpost{

    height: 578px;
    position: fixed;
    width: 600px;
    left: 400px;
    top: 20px;
  }
  .modalin{
    border: light grey;

    outline: none;
    color: black;
    font-size: 16px;
    font-family: system-ui;
    width: 98%;
    resize: none;
    height: 30px;
    padding-left: 10px;
  }
  
  .ql-container.ql-snow,
  .ql-toolbar.ql-snow {
    border: none !important;
  }
  
  .ql-container.ql-snow {
    font-size: 20px;
    font-family: system-ui;
  }
  
  .picture-icon {
   
    margin-right: 10px;
  }
  
  .preview-image {
    width: 100%;
    margin-top: 20px;
  }
  
  .posts-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .post-btn{
    left: 300px;
    bottom: 10px;
  
  }
  .modal-email{
    font-size: 20px;
    color: black;
  }
  .modal-dark-mode{
    background-color: black;
    color: white;
  } 

  @media (max-width: 950px){
    .modal-createpost{
      left: 150px;
    }
  }

  @media (max-width:650px){
    .post-btn{
      left: 250px;
    }
    .modal-createpost{
      left: 10px;
      width: 100px;
    }
  }
  
  @media (max-width:450px){
    .post-btn{
      left: 220px;
    }
    .modal-createpost{
      left: 10px;
      width: 100px;
    }
  } */

  .modal-input {
    /* border: 1px solid gray;
    outline: none; 
    color: black;
    font-size: 16px;
    font-family: system-ui;
    width: 100%;
    resize: none;
    height: 300px; */

    border: 1px solid gray;
    outline: none;
    color: black;
    font-size: 16px;
    font-family: system-ui;
    width: 97%;
    resize: none;
    height: 300px;
    padding-left: 10px;
  }
  .modal-input::placeholder{
    color: #a9a9a9; 
  }
  .modal-input-dark::placeholder{
    color: #a9a9a9;
  }

  .modal-input-dark{
    background-color: black;
    color: white;
    border: 5px solid gray;
  }
  .modal-input-dark:hover{
    border: 1px solid white;
  }

  .modal-input-dark::placeholder{
    color: gray;
  }
  
  .modal-createpost {
    height: 578px;
    position: fixed;
    width: 600px;
    left: 400px;
    top: 20px;
    background-color: white;
    border: 5px solid gray;
  }
  .modal-dark-mode .ant-modal-content {
    background-color: black !important;
    color: white !important;
    border: 1px solid gray;
  }
  .modal-dark-mode .ant-modal-title {
    background-color: black;
    color: white;
  }
  .modal-dark-mode .ant-modal-close-x {
    color: white;
  }
  
  .modalin {
    border: 1px solid gray;
    outline: none;
    color: black;
    font-size: 16px;
    font-family: system-ui;
    width: 95%;
    resize: none;
    height: 30px;
    padding-left: 10px;
  }
  .modalin:hover{
    border: 1px solid white;
  }
  
  .ql-container.ql-snow,
  .ql-toolbar.ql-snow {
    border: none !important;
  }
  
  .ql-container.ql-snow {
    font-size: 20px;
    font-family: system-ui;
  }
  
  .picture-icon {
    margin-right: 10px;
  }
  
  .preview-image {
    width: 100%;
    margin-top: 20px;
  }
  
  .posts-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .post-btn {
    left: 300px;
    bottom: 10px;
  }
  
  .modal-email {
    font-size: 20px;
    color: black;
  }
  
  .modal-dark-mode {
    background-color: black;
    color: white;
  }
  
  .darkmode-email {
    font-size: 20px;
    color: white;
  }
  
  @media (max-width: 950px) {
    .modal-createpost {
      left: 150px;
    }
  }
  
  @media (max-width: 650px) {
    .post-btn {
      left: 250px;
    }
    .modal-createpost {
      left: 10px;
      width: 100px;
    }
  }
  
  @media (max-width: 450px) {
    .post-btn {
      left: 220px;
    }
    .modal-createpost {
      left: 10px;
      width: 100px;
    }
  }
  