
.channel{
    display: flex;
    flex-direction: row;
  }
  .side{
    width: 300px;
    top: 80px;
  
    position: sticky;
    flex: 0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    height: 400px;
    left: 30px;
  }
  .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
    height: auto;
  }
  .imgg{
    width: 300px;
    
    border-radius: 5px;
  }
  .avatar{
    margin-top: 130px; 

    object-fit: cover;
    position: absolute;
    
    width: 80px;
    height: 80px;
    text-align: center;
  
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 25px;
    font-weight: 1000;
  }
  .card {
      width: 70%;
      height: 300px;
      background-color: whitesmoke;
      margin: 10px -120px 10px 50px;
      border-radius: 5px;
      padding: 5px;
      position: relative;
      display: flex;
      flex-direction: row;
      
    
    }
    
    .card .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      background-color: whitesmoke;
      border: whitesmoke;
    }
    
    .card .info .profile {
      width: 150px;
      height: 150px;
  
      border-radius: 50%;
      border: 2px solid #cacaca;
      font-size: 75px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -82px 0 1px 20px;
      color: white;
    }
    
    .card .info .right-info {
      margin-top: 25px;
      margin-right: 20px;
    }
    .group{
      color: blue;
      margin-right: 220px;
    }
   
    
   
  
    
   
    
    .card .profile-info .edit-btn {
      position: absolute;
      right: 20px;
      margin: 10px;
      width: 20px;
      border-radius: 5px;
    }
    
    .card .edit-btn .edit-icon {
      cursor: pointer;
      padding: 10px;
    }
    
    .card .edit-btn .edit-icon:hover {
      background-color: rgb(197, 197, 197);
      padding: 10px;
      border-radius: 50%;
    }
    
    .card .Name {
      font-family: system-ui;
      color: rgba(0, 0, 0, 0.9);
      font-weight: 600;
      font-size: 24px;
      margin: 0 0 0 70px;
    }
    
    .card .head {
      margin: 0px 0 0px 70px;
      font-family: system-ui;
      font-size: 16px;
      font-weight: 400;
      color: rgba(87, 69, 69, 0.9);
      width: 320px;
      line-height: 20px;
    }
    .linklogo{
      width: 60px;
     
    }
    .linklogoflex{
      display: flex;
      flex-direction: flex-start;
      margin-top: -65px;
    }
    
   .profile{
    width: auto;
    height: auto;
   }
  .vert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
  
    height: 300px;
    background-color: whitesmoke;
    margin: 10px 50px 200px 140px;;
   
    border-radius: 5px;
    padding: 5px;
    position: relative;
  }
  .linklogo{
    width: 90px;
    height: 90px;
    margin-left: 50px;
  }
  .images{
    display: flex;
    flex-direction: row;
  }
  .logoo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    /* margin-left: 5px; */
    cursor: pointer;
    margin-left: -15px;
    margin-top:10px ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ad{
    margin-left: 220px;
    margin-top:7px;
  }
  .butn{
    display: flex;
    flex-direction: row;
  }
  .grouppost{
    /* margin-top: -150px; */
    margin:  -180px 350px 0 350px;
   
    background-color: white;
    width: 590px;
    height: auto;
    border-radius: 5px;
  }

.data{
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}
.followbtn{
 height: 30px;
 background-color: #0a66c2;
color: white;
  margin: 73px -268px 0 168px;
    width: 100px;
    border-radius: 10px;
    outline: #0a66c2;
    border: #0a66c2;
}
.imggg{
  
  border-radius: 10px;
    height: 141px;
    width: 570px;
}

  @media (max-width: 900px) {
    .side {
        display: none;
    }
}

@media (max-width: 1200px) {
    .side {
        display: none;
    }
}

@media (max-width: 900px) {
    .advert {
        display: none;
    }
}

@media (max-width: 1200px) {
    .advert {
        display: none;
    }
}

@media (max-width:1200px){
  .grouppost{
    margin-top: 0px;
    margin-left: 50px;
  }
  .vert{
    display: none;
  }
  .imggg{
    width: 128%;
    max-width: 570px;
   
  }
  .card{
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 900px) {
  .card .info {
      width: 100%;
  }
  .grouppost{
    width: 77%;
    margin-right: 20px;
  }
  .imggg{
    width: 100%;
    max-width: 570px;

  }
}

@media (max-width: 450px) {
  .card .info {
      width: 100%;
  }
  .grouppost{
    width: 70%;
    margin-right: 20px;
  }
  .imggg{
    width: 120%;
    max-width: 313px;
  }
  .followbtn{
    margin: 84px -224px 0 119px;
  }
  .card .Name{
    margin-left: 14px;
  }
  .card .head{
    margin-left: 14px;
  }
  .public{
    margin-left: 14px;
  }
  .card{
    max-width: 311px;
    width: 100%;
  }

}
