.widgets{
   
    position: relative;
    top: 15px;
    flex: 0.2;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgrey;
    height: fit-content;
    padding-bottom: 6px;
    display: flex; 
    flex-direction: column; 
    width: 290px;
    padding: 15px;
    margin-right: 80px;
    margin-left: -65px;
    z-index: 99;
    
}

.wid{
    display: flex;
    flex-direction: column;
    height: fit-content;
    right: 90px;
   
}
/* .wid::-webkit-scrollbar {
    display: none;
} */
.widgets__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 250px;


}

.widgets__header > h2{
    font-size: 16px;
    font-weight: 600;
}

.widgets__articleLeft{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 6px;
}

.widgets__article{
    display: flex;
    flex-direction: column;
    padding: 6px;
    cursor: pointer;
}

.separate:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}

.widgets__articleLeft > .MuiSvgIcon-root{
    font-size: 10px;
    color: grey;
}

.separate{
    display: flex;
    gap: 10px;
}

.widgets__articleRight > p{
    color: grey;
    font-size: 14px;
    flex: 1;
}
.advertcard{
    width: 300px;
    height: 290px;
    background-color: white;
    border: 1px solid lightgrey;

    object-fit: cover;
    position:  relative;
    border-radius: 10px;
    right: 65px;
    top: 25px;   
}
.dc{
    margin: 10px -10px 30px 240px;
    display: flex;
    gap: 10px;
}
.logname{
    justify-content: center;
    align-items: center;
    margin: -25px 0 0 20px
}
.img{
    margin-left: 80px;
}
.data{
    margin-left: 20px;
}
.bt{
    
    margin-left: 90px;
    margin-top: 5px;
    width: 150px;
    height: 30px;
    cursor: pointer;
    background-color: whitesmoke;
    border: 2px solid #003365;
    color: #014488;
    border-radius: 30px;
    font-family: system-ui;
    font-weight: 600;
    font-size: 14px;
  


}
.lessbtn{
    width: 100px;
    border: none;
    height: 25px;
}

    
.inlogo{
    
    width: 80px;
    height: 20spx;
    margin-bottom: -52px;
    margin-left: -50px;
}
.corp{
   
    margin-top: 25px;
    margin-left: 40px;
    font-size: 15px;
}
.headline-data{
    font-size: 12px;
    color: black;
    font-weight: 600;
}

 @media (max-width: 768px) {
    .widgets {
        display: none;
    }
    .advertcard{
        display: none;
    }
}

@media (max-width: 900px) {
    .widgets {
        display: none;
    }
    .advertcard{
        display: none;
    }
}

@media (max-width: 1200px) {
    .widgets {
        display: none;
    }
    .advertcard{
        display: none;
    }
    .inlogo{
        display: none;
    }
    .corp{
        display: none;
    }
}
 
