.widgets{
    position: sticky;
    top: 80px;
    flex: 0.2;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid lightgrey;
    height: fit-content;
    padding-bottom: 6px;
    width: 80%;

    right: 90px;
    display: flex; 
    flex-direction: column; 
  
    padding: 15px;
    
}

.widgets__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 300px;

}

.widgets__header > h2{
    font-size: 16px;
    font-weight: 400;
}

.widgets__articleLeft{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 6px;
}

.widgets__article{
    display: flex;
    flex-direction: column;
    padding: 6px;
    cursor: pointer;
}

.separate:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}

.widgets__articleLeft > .MuiSvgIcon-root{
    font-size: 10px;
    color: grey;
}

.separate{
    display: flex;
    gap: 10px;
}

.widgets__articleRight > p{
    color: grey;
    font-size: 14px;
    flex: 1;
}
.advertcard{
    width: 330px;
    height: 260px;
    background-color: whitesmoke;

   
    object-fit: cover;
    position: fixed;
    border-radius: 10px;
    right: 105px;
    top: 310px;
}
.adc{
    margin: 10px 0px 20px 260px;
}
.logname{
    justify-content: center;
    align-items: center;
    margin: -25px 0 0 20px
}
.img{
    margin-left: 80px;
}
.data{
    margin-left: 20px;
}
.bt{
    
    margin-left: 100px;
    border: 2px solid blue; 
    padding: 10px 5px 20px 5px;
    background-color: white; 
    border-radius: 40px;
    color: blue; 
    height: 5px;
    text-align: center;
    margin-top: -5px;


}

@media (max-width: 768px) {
    .widgets {
        display: none;
    }
    .advertcard{
        display: none;
    }
}

@media (max-width: 900px) {
    .widgets {
        display: none;
    }
    .advertcard{
        display: none;
    }
}

@media (max-width: 1200px) {
    .widgets {
        display: none;
    }
    .advertcard{
        display: none;
    }
}