
   .like-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 7px 10px;
    cursor: pointer;
    margin-bottom: -20px;
  }
  
  .like-comment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .comment-input {
    height: 40px;
    background-color: whitesmoke;
    padding-left: 10px;
    border-radius: 30px;
    border: 1px solid #737373;
    font-family: system-ui;
    color: #4b4b4b;
    font-size: 16px;
    font-weight: 600;
    width: 86%; 
    max-width: 480px; 
    box-sizing: border-box; 
 
    margin-left: 60px;
  }
  .comment-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-top: 6px;
    margin-bottom: -46px;
    border-radius: 50px;

  }
  
  .add-comment-btn {
    width: 20%; 
    height: 35px;
    background-color: #0a66c2;
    color: white;
    outline: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .add-comment-btn:hover {
    background-color:#0a66c2;
    /* color: #0a66c2;  */
  }
  
  .all-comments {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(227, 227, 227);
    border-radius: 10px;
    position: relative;
    margin: 6px 1px 10px 55px; 
    /* max-width: 420px; */
    width: 90%;
  }
  
  .all-comments .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px 0 0 -55px;
    
  }
  
  .all-comments .namecom {
    font-family: system-ui, sans-serif;
    font-size: 20px; 
    color: #212121;
    font-weight: 600;
    margin: -46px 0 49px 26px; 
    cursor: pointer;
  }
  
  .all-comments .comment {
   
    margin: -36px 20px 10px 27px;
    word-wrap: break-word;
  }
  
  .stamp {
   top: 10px;
   position: absolute;
   right: 160px;
  }
  
  .all-comments .action-icon {
    position: absolute;
    right: 40px; 
    top: 15px; 
  }
  .icon{
    position: absolute;
    right: 40px; 
    top: 55px;
  }
  
  .hr-line {
    margin: 10px 0 20px 0;
    
  }
  
  .hr-line hr {
    border-top: 1px solid rgb(181, 181, 181);
  }
  
  .like-container p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: black;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: -20px;
  }
  
  .likes-comment-inner {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: -50px;
    margin-bottom: -5px;
  }
  
  .likes-comment-inner .blue {
    color: #0a66c2;
   
  }
  
  .likes-comment-inner .black {
    color: rgba(58, 58, 58, 0.835);
  }
  
  .likes-comment-inner p {
    font-family: Inter, sans-serif;
    font-weight: 600;
    color: rgba(58, 58, 58, 0.835);
    font-size: 16px;
    margin-left: 7px;
  }
  .comment-dark-mode {
    background-color: black;
    color: grey;
    width: 86%;
    text-emphasis-color: black;
    max-width: 480px; 
    box-sizing: border-box; 
    margin-top: 5px;
    margin-left: 60px;
    border-radius: 10px;
  }
  
  .comment-dark-mode::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  @media (max-width: 800px) {
    .stamp{
      position: absolute;
      
      right: 17px;
        top: 14px;
    }
    .all-comments .action-icon{
      top: 40px;
    }
      .all-comments {
       width: 80%;
    } 
    }
  
  
  @media (max-width: 450px) {
    .stamp{
      position: absolute;
      
      right: 17px;
        top: 14px;
    }
    .all-comments .action-icon{
      top: 34px;
        right: 15px;
    
    }
    /* .all-comments {
      max-width: 306px;
      margin: -4px -76px 0 47px;
  }  */
  .all-comments .comment{
    margin-right: 50px;
  }
  .icon{
    top: 64px;
    right: 13px;
    }
  }
      
    
  