
.post-status-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    flex: 0.6;
    height: auto;

     width: 500px;

  }
  
  .post-status-main .user-details {
    width: 600px;
    height: auto;
    background-color: whitesmoke;
    margin-top: 100px;
    border: 1px solid #b7b7b7;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  .post-status-main .user-details img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -60px;
    border: 1px solid #b7b7b7;
    padding: 1px;
  }
  
  .post-status-main .user-details .name {
    font-weight: 600;
    font-family: system-ui;
  }
  
  .post-status-main .user-details .headline {
    font-family: system-ui;
    margin-top: -15px;
  }
  .post-status-main .feed__inputcontainer{
    background-color: whitesmoke;
    padding: 8px;
    padding-bottom: 5px;
    border-radius: 5px;
 
    margin-top: 15px;
    border: 1px solid #b7b7b7;
    width: 505px;
  
  }
  
  .post-status-main .feed__inputcontainer .post-status {
    width: 75%;
    
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  
  .post-status-main .feed__inputcontainer .post-status .post-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin:24px 61px 0 -8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .post-status-main .feed__inputcontainer .post-status .open-post-modal {
    width: 400px;
    height: 50px;
    text-align: left;
    color: rgba(194, 183, 183, 0.89);
    background-color: whitesmoke;
    outline: none;
    border: 1px solid #b7b7b7;
    border-radius: 30px;
    margin: 34px -137px 10px -103px;
    cursor: pointer;
    padding: 15px;
    font-weight: 600;
    font-size: 14px;
    font-family: system-ui, sans-serif;
  }
  
  .post-status-main .feed__inputcontainer .post-status .open-post-modal:hover {
    background-color: #dcdbdb;
  }
  .post-status-main .feed__inputcontainer .feed__inputoptions{
    display: flex;
   
    justify-content: space-evenly;
  }
  .loading{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  .posts{
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .hrline{
    margin: 5px 0 10px 0;
  }
  
  @media  (max-width: 350px) {
    .post-status-main .feed__inputcontainer {
  
      width: 100%;
      flex-basis: 100%;
      box-sizing: border-box;
      margin: 0;  


      
      
  }
  .post-status-main .feed__inputcontainer .post-status .open-post-modal {
   
     margin:36px -84px 10px -55px; 
    
  }
  

  
  }
  
  @media  (max-width: 560px) {
    .post-status-main .feed__inputcontainer {
      width: 100%;
      max-width: 700px;
      flex-basis: 100%;
      box-sizing: border-box;
      margin-top: 9px;
    
    }
    .post-status-main .feed__inputcontainer .post-status .open-post-modal {
   
      margin:36px -84px 10px -55px; 
      max-width: 230px;
     
   }
   .post-status-main .feed__inputcontainer .post-status .post-image {
   margin-left: 10px;
   }
  }
  
  @media  (max-width: 600px) {
    .post-status-main .feed__inputcontainer {
     
      max-width: 800px;
      flex-basis: 100%;
   
  }
 
  }
  
  @media  (max-width: 800px) {
    .post-status-main .feed__inputcontainer {
    
 max-width: 800px;
      width: 100%;
      margin-left: 10px;
     
}

.post-status-main .feed__inputcontainer .post-status .open-post-modal {
   
  margin:36px -84px 10px -55px;
  max-width: 350px; 
 
}
.post-status-main .feed__inputcontainer .post-status .post-image {
  margin-left: 10px;
  }
  
  }
   

   