
.post-status-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
   
    height: auto;



  }
  
  .post-status-main .user-details {
    width: 600px;
   
    background-color: whitesmoke;
    margin-top: 100px;
    border: 1px solid #b7b7b7;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  .post-status-main .user-details img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -60px;
    border: 1px solid #b7b7b7;
    padding: 1px;
  }
  
  .post-status-main .user-details .name {
    font-weight: 600;
    font-family: system-ui;
  }
  
  .post-status-main .user-details .headline {
    font-family: system-ui;
    margin-top: -15px;
  }
  .post-status-main .feed__inputcontainer{
    background-color: white;

    padding-bottom: 5px;
    border-radius: 5px;
    height: 120px;
    margin-top: 15px;
    border: 1px solid #b7b7b7;
    /* width: 570px; */
    width: 42vw;
    
  
  }
  
  .post-status-main .feed__inputcontainer .post-status {
    width: 100%;
    
    border-radius: 7px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin: 15px;
    margin-bottom: 20px;
    gap: 15px;
    
  }
  
  .post-status-main .feed__inputcontainer .post-status .post-image {
    width: 10%;
    height: 13%;
    object-fit: cover;
    border-radius: 50%;
    /* margin:10px 120px 0 -5px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .post-status-main .feed__inputcontainer .post-status .open-post-modal {
    /* width: 450px; */
    width: 80%;
    height: 50px;
    text-align: left;
    color: #0a0909e3;
    background-color: white;
    outline: none;
    border: 1px solid #b7b7b7;
    border-radius: 30px;
    /* margin: 10px -160px 0px -160px; */
    cursor: pointer;
    padding: 15px;
    font-weight: 600;
    font-size: 14px;
    font-family: system-ui, sans-serif;
  }
  
  .post-status-main .feed__inputcontainer .post-status .open-post-modal:hover {
    background-color: #dcdbdb;
  }
  .post-status-main .feed__inputcontainer .feed__inputoptions{
    display: flex;
   margin-top: -20px;
    justify-content: space-evenly;
  }
  .loading{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  .posts{
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .hrline{
    margin: 5px 0 10px 0;
  }
   .sorting{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

   }
  
  
  @media  (max-width: 350px) {
    .post-status-main .feed__inputcontainer {
  
      width: 100%;
      flex-basis: 100%;
      box-sizing: border-box;
      margin: 0;  


      
      
  }
  /* .post-status-main .feed__inputcontainer .post-status .open-post-modal {
   
     margin:36px -84px 10px -55px; 
    
  } */
  

  
  }
  
  
  @media  (max-width: 650px) {
    .post-status-main .feed__inputcontainer {
      width: 90%;
     
      flex-basis: 100%;
      box-sizing: border-box;
      margin-top: 50px;
     
    
    }
     .post-status-main .feed__inputcontainer .post-status .open-post-modal {
   
      /* margin:21px -84px 10px -55px;  */
      width: 72%;
     
     
   } 
   .post-status-main .feed__inputcontainer .post-status .post-image {
   margin-left: 10px;
   }
  }
  
  
  
 @media  (max-width: 800px) {
    .post-status-main .feed__inputcontainer {
    

      width: 100%;
     
     
}

/* .post-status-main .feed__inputcontainer .post-status .open-post-modal {
   
  margin:36px -84px 10px -55px;
  max-width: 350px; 
 
}
.post-status-main .feed__inputcontainer .post-status .post-image {
  margin-left: 10px;
  }
   */
  }
  

  @media  (max-width: 1200px) {
    .post-status-main .feed__inputcontainer {
    
     
      width: 98%;
      max-width: 650px;
    
   
     
}

/* .post-status-main .feed__inputcontainer .post-status .open-post-modal {
   
  margin:36px -84px 10px -55px;
  max-width: 350px; 
 
}
.post-status-main .feed__inputcontainer .post-status .post-image {
  margin-left: 10px;
  } */
  
  }
   

   