.home-component {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: scroll;
   
    
}
.home-component::-webkit-scrollbar {
    display: none;
  }