body {
    margin: 0;
    padding: 0;
  }
  
  .login-wrapper {
    /* background-color: white !important; */
    height: 100vh;
  }
  .login-wrapper .login-wrapper-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login-wrapper .head {
    font-family: system-ui;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 10px;
  }
  .login-wrapper .sub-heading {
    margin-bottom: 30px;
    font-family: system-ui;
    font-weight: 600;
    font-size: 20px;
  }
  .login-btn {
    width: 300px;
    height: 50px;
    cursor: pointer;
    background-color: #0073b1;
    border-radius: 30px;
    outline: none;
    border: none;
    font-family: system-ui;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
  }
  .login-btn:hover {
    background-color: #004c75;
  }
  .auth-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    z-index: 1;
    position: relative;
  }
  .auth-inputs .common-input {
    z-index: 1;
    height: 50px;
    width: 300px;
  }
  .login-container-nav{
    display: flex;
    justify-content: space-between;
  }
  .linkedinLogo {
    width: 70px;
    height: 70px;
    margin: 30px;
  }
  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;
  }
  .hr-text:before {
    content: "";
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }
  .google-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .google-btn-container .google-btn {
    width: 300px !important;
  }
  .google-btn-container .go-to-signup {
    font-size: 18px;
  }
  .google-btn-container .join-now {
    color: #0072b1;
    font-family: system-ui;
    cursor: pointer;
    font-size: 18px;
  }
  .themebtn{
    width: 50px;
    margin: 40px;
    color: #000000;
  }
  
  /* Define your CSS classes */
.input-dark-mode {
  background-color: white;
  /* color: white; */
  color: black;

  height: 50px;
  width: 300px;
}

.input-dark-mode::placeholder {
  color: rgba(255, 255, 255, 0.5);
}


.common-input::placeholder {
  color: #a9a9a9; 
}


.input-dark-mode::placeholder {
  color: #a9a9a9;
}

