.maintenancediv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    overflow-y: hidden;
    margin: 15px 0px;
}

@media (max-width:450px){
    .maintenancediv{
        max-width: 366px;
        height:700px ;
    }
}