

.search-users {
  display: flex;
  align-items: center;
  color: gray;
  height: 20px;
  margin-top: 15px;
}

.search-users .input-field {
  display: flex;
  align-items: center;
  width: 400px;
  height: 35px;
  padding: 5px;
  color: gray;
  background-color: hsl(208, 40%, 70%);
  margin-left: 40px;
  border: 1px solid black; 
  border-radius: 5px; 
}

.search-users .input-field input {
  flex: 1; 
  height: 100%;
  border: none; 
  background: transparent; 
  outline: none;
  padding: 10px;
  margin-left: 10px;
}

.search-users .search-icon {
  margin-right: 5px; 
}

.search-users .search-result {
  position: absolute;
  top: 58px;
  left: 190px;
  background-color: white;
  border: 0.5px solid lightgray;
  width: 25em;
  height: 300px;
  overflow-y: scroll;
  border-radius: 6px;
  z-index: 999 !important;
  padding: 0px 10px;
  color: #000000;
}

.search-users .search-result p {
  margin: 10px 10px 10px;
  font-size: 14px;
}

.search-users .search-result a {
  text-decoration: none; 
  outline: none; 
  color: inherit; 
  display: flex;
  align-items: center; 
  padding: 10px; 
  width: 100%;
  justify-content: space-between; 
}

.searchimg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 12px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchinput {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000000;
  text-decoration: none;
  width: 100%; 
  justify-content: space-between;
}

/* .searchinput p {
  flex-grow: 1; 
  margin-right: 10px; 
} */
.left-content{
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width:800px){
  .search-users .search-result {
    left: 5em;
    width: 18em;
  }
  .search-users .input-field {
    width: 18em;
  }
}
