

.search-users {
  display: flex;
  align-items: center;
  color: gray;
  height: 20px;
  margin-top: 15px;
}

.search-users .input-field {
  display: flex;
  align-items: center;
  width: 400px;
  height: 35px;
  padding: 5px;
  color: gray;
  background-color: hsl(208, 40%, 70%);
  margin-top: 10px;
  margin-left: 50px;
  border: 1px solid black; 
  border-radius: 5px; 
}

.search-users .input-field input {
  flex: 1; 
  height: 100%;
  border: none; 
  background: transparent; 
  outline: none;
}

.search-users .search-icon {
  margin-right: 5px; 
}

.search-users .search-result {
  position: absolute;
  top: 58px;
  left: 190px;
  background-color: white;
  border: 0.5px solid lightgray;
  width: 37%;
  height: 300px;
  overflow-y: scroll;
  border-radius: 6px;
  z-index: 999 !important;
  padding: 0px 10px;
  color: #000000;


}

.search-users .search-result p {
  margin: 20px 10px 10px;
  font-size: 14px;
}
.searchimg{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 12px;
  object-fit: cover;
  margin: 16px 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchinput{
  display: flex;
  flex-direction: row;
}

@media (max-width:500px){
  .search-users .search-result {
    left: 5em;
    width: 20rem;
    
  }
  .search-users .input-field{
    width: 20em;
  }
}